#grey,red,green,yellow,blue,magenta,cyan,white only ;)
[COLOR]
alert = magenta
warning = white
info = blue
index = red
task = yellow
tag = grey

[SYSTEM]
#info,warning,error
messagelevel = warning
key = admin
#not modify if you use docker!
#todofile = /tmp/.todo
#todobackupfolder = /tmp/.todo_backup/

[FONCTIONAL]
#int values
periodalert = 0
periodwarning = 7
#tags with '#' and with a coma separation
alerttags = #urgent,#urgente
#or True
autosort = True
