name: CI

on:
  push:
    branches: [ master ]
  #pull_request:
    #branches: [ master ]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Launch Tests
        uses: docker-practice/actions-setup-docker@master
      - run: ./pypodo_github.sh
      - name: Push to Docker Hub
        uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: thibaultgarcon/pypodo
          tag_with_ref: true
